<div class="container">

<form class="form mat-elevation-z15">


  <h1>Help Desk</h1>  

  <img src="assets\img\login-image.svg" alt="">

  <mat-form-field class="full-width" appearance="fill">
    
    <mat-label>Email</mat-label>
    <input
    [formControl] ="email"
    required
    [(ngModel)]="creds.email"
    name="email"
    matInput
    placeholder="fulano@gmail.com">

  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">

    <mat-label>Senha</mat-label>
    <input [(ngModel)]="creds.senha"
    [formControl] ="senha"
    required
    name="senha"
    type="password"
    matInput
    placeholder="Ex. 123"
    value="">

  </mat-form-field>

  <button (click)="logar()" [disabled]="!validaCampos()"  class="full-width mat-elevation-z6" mat-raised-button color="primary">Login</button>

</form>

</div>